/* GEMFIVE CSS */
.navbar-default {
    background-color: #222;
    border-color: #000;
}
.navbar-default .navbar-brand {
    color: #FFF !important;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF !important;
}
.label-warning {
    background-color: #92018d !important;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #FFF !important;
    background-color: #66006e !important;
}
.dropdown-menu>li>a:hover{
	color: #92018d !important;
	/*text-decoration: underline !important;*/
	/*background: transparent !important;*/
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
body{
	color:#000 !important;
	background-color: none !important
}

.btn-gemfive {
    color: #fff;
    background-color: #002B7F  !important;
    border-color: #002B7F !important;
}
.btn-gemfive:hover, .btn-gemfive:focus, .btn-gemfive:active, .btn-gemfive.active, .open>.dropdown-toggle.btn-gemfive {
    color: #fff !important;
    background-color: #002B7F !important;
    border-color: #002B7F !important;
}
.btn-state {
    color: #FFF;
    background-color: #CCC  !important;
    border-color: #CCC !important;
}
.btn-state:hover, .btn-state:focus, .btn-state:active, .btn-state.active, .open>.dropdown-toggle.btn-state {
    color: #fff !important;
    background-color: #999 !important;
    border-color: #999 !important;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn{
	height: 26px;
    padding: 2px 10px !important;
}

@media (min-width: 0px) and (max-width: 527px){
	.sidebar.sidebar-right {
	    left: auto !important;
	    width: 90% !important;
	}
}

