@-webkit-keyframes opacity{0%{opacity:1}100%{opacity:0}}@-moz-keyframes opacity{0%{opacity:1}100%{opacity:0}}#information span{-webkit-animation-name:opacity;-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;-moz-animation-name:opacity;-moz-animation-duration:1s;-moz-animation-iteration-count:infinite}#information span:nth-child(1){-webkit-animation-delay:100ms;-moz-animation-delay:100ms}#information span:nth-child(2){-webkit-animation-delay:300ms;-moz-animation-delay:300ms}#information span:nth-child(3){-webkit-animation-delay:500ms;-moz-animation-delay:500ms}
    
.pager{margin:0px 0 !important; display:inline-block !important}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 0px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.radio, .checkbox {
    position: relative;
    display: block;
    min-height: 16px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h4{
    font-size:16px !important;
}

.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th{
	border-left: 1px solid #EFEFEF;
	border-right:1px solid #EFEFEF;
}

body{ background-color: #FFF !important;}

.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th {
	border-left: none;
	border-right:none;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
	height: 26px !important;
}
.btn-sm, .btn-group-sm>.btn {
	padding: 3px 10px;
}
.alert {
	padding: 5px 10px !important;
}
input[type='checkbox']{
	cursor:pointer !important;	
}
.btn-sm, .btn-group-sm>.btn {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}
th{font-size:13px;}	
td{font-size:13px;}		
.navbar-form.navbar-right:last-child {margin-right: 0px;}	
.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;    
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 7px 7px;
	pointer-events: none;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding: 2px 10px !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: none !important;
}
@media print {
	.xprint{display:none !important;}
	.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {padding: 2px 5px !important;}
	th{font-size:13px;}
	td{font-size:11px;}
	.panel-heading {padding: 5px 10px;}
	.panel-body {padding: 10px;}
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 1px;
	border-collapse: collapse;
	text-wrap:normal;
}
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding: 2px;
}
@media screen and (max-width: 767px){
.table-responsive {
	border: none !important;
}
}

.modal {
    z-index: 9999999 !important;
}

#loading {
    background: #f4f4f2 url("") repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}
@keyframes opa {
12% {
    opacity: 0.8;
}
19.5% {
    opacity: 0.88;
}
37.2% {
    opacity: 0.64;
}
40.5% {
    opacity: 0.52;
}
52.7% {
    opacity: 0.69;
}
60.2% {
    opacity: 0.6;
}
66.6% {
    opacity: 0.52;
}
70% {
    opacity: 0.63;
}
79.9% {
    opacity: 0.6;
}
84.2% {
    opacity: 0.75;
}
91% {
    opacity: 0.87;
}
}

@keyframes rota {"api/customer.php"
100% {
    transform: rotate(360deg);
}
}

}

.navbar{
  min-height:20px;

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn{
	height: 30px !important;
    padding: 2px 10px !important;
}
























